.App {
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  background: rgb(197, 231, 197);
}

.search-options {
    background: rgba(205, 238, 190, 0.541);
    border-bottom: 1px solid rgb(1, 12, 1);
    padding: 10px 20px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

main {
  overflow: auto;
  padding: 20px;
}
