.Header {
  padding: 20px;
  display: flex;
  align-items: center;
  background: mediumseagreen;
  color: white;
  border-bottom: 1px solid darkseagreen;
}

.logo {
  width: 100%;
}

h1 {
  margin: 0;
  font-size: 2rem;
}