.Paging {
  display: grid;
  grid-template-columns: 36fr 15px 36px;
  align-items: right;
  justify-items: right;
}
  
button {
  cursor: pointer;
  border: 0;
  outline: 0;
  color: white; 
  margin: 5px;
  background: rgb(101, 156, 219);
  transition: all 250ms ease-in-out;
}

span {
  font-size: .85rem;
}
